@use './vendor/bootstrap/bootstrap.scss';
@use '../abstracts/vars';
/* INFORMACION GENERAL PAGINA */
 *{
    margin: 0;
    padding: 0;
}
html{
    font-size: $base-fs;
}
body{
    font-family: $ff-primary;
    background: $clr-white;
}

/* TAMAÑO IMG RECETA DEL RECETARIO */
.img-recipe{
    height: 25rem;
    width: 25rem;
    display: flex;
}

/* CONTENEDOR TAMAÑO */
.container{
    width: 1140px;
    margin:auto;
}
.container-nav{
    width: 1366px; /* 1366px*/
    margin:auto;
}

/* DISTRIBUCION */
.row{
    display: flex;
    flex-wrap: wrap;
}

/* PONER INFORMACIÓN EN LA MISMA FILA */
.filep {
    display: inline-block;
    width: 30%;

    .center-objetive{
        justify-content: center;
        margin-top: 2rem;
    }
}

/* margin properties */
.m-auto{
    margin-right: auto;
    margin-left: auto;
}

.ms-1 {
    margin-left: 100rem;
  }

  .total-size{
    height: 6rem;
}

.center-object{
    padding: 10px;
    margin: 1px;
}

.img-container {
    text-align: center;
    display: block;
  }




