@use '../abstracts/vars';

/* COLOR TEXTO NAVBAR */
.top-nav-link{
    display: block;
    color: $clr-white;
    text-decoration: none;
}
/* COLOR TEXTO NAVBAR TRANSICIÓN */
.top-nav-link:hover{
    opacity: 100%;
    color: $clr-black; 
}
/* COLOR TEXTO - TAMAÑO Y MARGEN DE TEXTO */
.color-w{
    color: $clr-white;  
}
.color-r{
    color: $clr-red;
}
.title-margin{
    margin-top: 4rem;
}
.giant-info{
    font-size: $fs-rg; 
}
/* ESPACIO ENTRE TEXTO Y OBJETO DE ARRIBA */
.space-margin{
    margin-top: 7rem;
}
/* PONE EL TEXTO EN EL CENTRO */
.align-text{
    text-align: center;
}


