@import './vendors/bootstrap/bootstrap.scss';
@import '../abstracts/vars';
@import '../base/base';
@import '../base/typography';
@import '../media-queries';

.footer-item{
    list-style-type: none;
}

.footer-link{
    display: block;
    text-decoration: none;
    color: $clr-white;
    opacity: 60%;
    transition: .5s;
}

.footer-link:hover{
    opacity: 100%;
    transform: translate(1rem);
}

.footer-link::before{
    opacity: 0;
    content:'\2022';
    margin-right: .5rem;
    color: $clr-white;
}

.footer-link:hover::before{
    opacity: 100%;
}
